
@charset "utf-8";
/* CSS Document */
*{  /*this for universal*/
	margin: 1px;
	padding: 1px;
	font-family: montserrat;
}
p{	/*thsis for using the paragraph tag*/
	font-size: 15pt;
	color: darkgrey;
}
h1{	/*this for the header 1*/
	/*color: darkslategrey;*/
    color: black;/*modified*/
}
h2{	/*this for the header 2*/
	color: darkslategrey;
}


/*dibawah ini click content.css*/


body {  /*this for the background colour of the web*/
  /*background-color: lightgreen;*/
    background-color: purple; /*modified*/
}

div.gallery1 {  /*this is for make the div like gallery event*/
  /*margin: 5px;*/
    margin: 10px;/*modified*/
  border: 1px solid #ccc;
  float: center;
  /*width: 180px;*/
    width: 20%;/*modified*/
    height: 280px; /*modified*/
}
div.gallery2 {  /*this is for make the div like gallery event*/
  /*margin: 5px;*/
    margin: 10px;/*modified*/
  border: 1px solid #ccc;
  float: center;
  /*width: 180px;*/
    width: 20%;/*modified*/
    height: 280px; /*modified*/
}
div.gallery3 {  /*this is for make the div like gallery event*/
  /*margin: 5px;*/
    margin: 10px;/*modified*/
  border: 1px solid #ccc;
  float: center;
  /*width: 180px;*/
    width: 20%;/*modified*/
    height: 280px; /*modified*/
}
div.gallery4 {  /*this is for make the div like gallery event*/
  /*margin: 5px;*/
    margin: 10px;/*modified*/
  border: 1px solid #ccc;
  float: center;
  /*width: 180px;*/
    width: 20%;/*modified*/
    height: 280px; /*modified*/
}
div.gallery5 {  /*this is for make the div like gallery event*/
  /*margin: 5px;*/
    margin: 10px;/*modified*/
  border: 1px solid #ccc;
  float: center;
  /*width: 180px;*/
    width: 20%;/*modified*/
    height: 280px; /*modified*/
}
div.gallery6 {  /*this is for make the div like gallery event*/
  /*margin: 5px;*/
    margin: 10px;/*modified*/
  border: 1px solid #ccc;
  float: center;
  /*width: 180px;*/
    width: 20%;/*modified*/
    height: 280px; /*modified*/
}
div.gallery7 {  /*this is for make the div like gallery event*/
  /*margin: 5px;*/
    margin: 10px;/*modified*/
  border: 1px solid #ccc;
  float: center;
  /*width: 180px;*/
    width: 20%;/*modified*/
    height: 280px; /*modified*/
}
div.gallery8 {  /*this is for make the div like gallery event*/
  /*margin: 5px;*/
    margin: 10px;/*modified*/
  border: 1px solid #ccc;
  float: center;
  /*width: 180px;*/
    width: 20%;/*modified*/
    height: 280px; /*modified*/
}
div.gallery9 {  /*this is for make the div like gallery event*/
  /*margin: 5px;*/
    margin: 10px;/*modified*/
  border: 1px solid #ccc;
  float: center;
  /*width: 180px;*/
    width: 20%;/*modified*/
    height: 280px; /*modified*/
}
div.gallery10 {  /*this is for make the div like gallery event*/
  /*margin: 5px;*/
    margin: 10px;/*modified*/
  border: 1px solid #ccc;
  float: center;
  /*width: 180px;*/
    width: 20%;/*modified*/
    height: 280px; /*modified*/
}
div.gallery11 {  /*this is for make the div like gallery event*/
  /*margin: 5px;*/
    margin: 10px;/*modified*/
  border: 1px solid #ccc;
  float: center;
  /*width: 180px;*/
    width: 20%;/*modified*/
    height: 280px; /*modified*/
}

div.gallery:hover {   /*this is for when you drag your mouse tio the div.gallery and it will do something that hover does*/
  border: 1px solid #777;
}

div.gallery img {		/*this is to put in your image to the div.gallery*/
  /*width: ; */  
  
}

div.desc {  /*this is to input the description on your div.gallery*/
  padding: 15px;
  text-align: center;
}

content { /*this is to make your content of the web turn into grey*/
  color: grey;
}

img {  /*this is to input the image on your content*/
  /*width: 500px;*/
  /*height: 300px;*/
    padding: 10px;/*modified*/
    width: 280px; /*modified*/
    height: 180px; /*modified*/
  float: center;
    
}

h1{  /*this is to make the header*/
  text-decoration: underline;
  color: solid black;
  text-align: center;
  padding: 10px;
}


/*for your note i use some inline css to make the news page*/
@media only screen and (max-width:500px) {
    /* For tablets: */
.gallery1{
    width: 30%;
    padding: 0;
  }
  .gallery2 {
    width: 20%;
  }
    .gallery3 {
    width: 20%;
  }
    .gallery4 {
    width: 20%;
  }
    .gallery5 {
    width: 20%;
  }
    .gallery6 {
    width: 20%;
  }
    .gallery7 {
    width: 20%;
  }
    .gallery8 {
    width: 20%;
  }
    .gallery9 {
    width: 20%;
  }
    .gallery10 {
    width: 20%;
  }
    .gallery11 {
    width: 20%;
  }
}
@media only screen and (max-width:100px) {
  /* For mobile phones: */
  .gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6, .gallery7, .gallery8, .gallery9, .gallery10, .gallery11{
    width: 10%;
  }
}
