@charset "utf-8";
/* CSS Document */
.login-page {
  /* width: 360px; */
  width: 1000px;
  padding: 8% 0 0;
  margin: auto;
/*This setting for the size of the login page*/
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  /* max-width: 360px; */
  max-width: 700px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
/*This function to make a center box in web page*/
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center; ?8 this is new CSS */
/*This to setting in form with input box*/
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #26C4C2;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
/*This setting fot the button in the webpage*/
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
/*This will appear while the pointer directly move to button*/
}
.form .register-form {
  display: block;
/*This will be used inside the div with class form and class register-form*/
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
/*This willbe fuction in container in page*/
}
body {
    /*background: #26C4C2 */
    background: url("background (1).png");/* this is modified background*/
    background-size: 100%; /* this is modify */ 
/* this will be reaction in whole page */  
}

a { /* this is CSS modify */
    color: #000000;
    text-decoration:none;
}

a:hover
{
color: #000000;
text-decoration:none;
}